.navbar{
	background: linear-gradient(rgba(33,33,33 ,1),rgba(33,33,33 ,0.8));
	border: 0;
}

.jumbotron{
	color: white;
	background-image: url("../img/Screenshotfrom2017-04-3022-26-43.jpg");
	font-family: 'Josefin Sans', sans-serif;
}

.panel-body{
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	padding: 20px;
}

.panel-title{
	font-family: 'Fredoka One', cursive;
}

.heading{
	font-family: 'Fredoka One', cursive;
	padding: 20px;
}

form{
	font-family: 'Baumans', cursive;
	font-size: 20px;
}

.address{
	color: #ecf0f1;
	padding: 50px;
}

.footer{
	background-color: #2c3e50;
}


.soc{
	display: inline-block;
	height:40px;
	width:40px;
	text-align: center;
	font-size: 25px;
	color:#ecf0f1;
	padding: 5px;
	margin: 0;
	border: 0;
}
.footer-social{
	text-align: center;
}

.site-map{
	list-style: none;
	padding-left: 0;
}
